.header {
  padding-block: 38px;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: contents;
}

.header__link {
  font-weight: 600;
  font-size: 30px;
}

.header__link:hover {
  color: var(--color-additional);
}

.header__actions {
  display: none;
  align-items: center;
  column-gap: 10px;
}

@media (width <= 1024px) {
  .header__wrapper {
    display: none;
  }

  .header__actions {
    display: flex;
  }
}