.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 26px;
}

.burger-menu__line {
  display: block;
  width: 26px;
  max-height: 2px;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
}

.burger-menu__line:last-child {
  max-width: 50%;
  margin-right: auto;
  transition-duration: var(--transition-duration);
}

.burger-menu:hover {
  .burger-menu__line:last-child {
    max-width: 100%;
  }
}