.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
}

.burger-menu__line {
  display: block;
  width: 26px;
  max-height: 2px;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
}

.burger-menu__line:last-child {
  max-width: 50%;
}