.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.button-close__icon {
  position: relative;
}

.button-close__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;     
  height: 2px;     
  background-color: #fff;
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.button-close__line:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}