.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.metrics--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.metrics__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

.metrics__item--row-gap {
  row-gap: 20px;
}

.metrics__value.metrics__red-text {
  font-size: 70px;
  font-weight: 600;
  color: var(--color-additional);
}

.metrics__value {
  font-size: 24px;
  font-weight: 600;
}

.metrics__key {
  opacity: 0.7;
}

.metrics__wrapper-icon {
  position: absolute;
  right: 68%;
}

.metrics__tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics__tooltip::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-color: var(--color-accent);
  opacity: 0.08;
  border-radius: 50%;
}

.metrics__tooltip-box {
  position: absolute;
  top: -50%;
  right: 0;
  max-width: 251px;
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: var(--color-white);
  transition-duration: var(--transition-duration);
  transform: translateX(-100%);
  scale: 0;
}

.metrics__tooltip-box.is-active {
  transform: translateX(0);
  scale: 1;
}

@media (width <= 1100px) {
  .metrics {
    grid-template-columns: repeat(2, 1fr);
  }

  .metrics__wrapper-icon {
    right: 77%;
  }

  .metrics__tooltip-box {
    right: 30%;
  }
}

@media (width <= 768px) {
  .metrics {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .metrics__wrapper-icon {
    right: 40%;
  }

  .metrics__tooltip-box {
    right: 30%;
  }
}

@media (width <= 500px) {
  .metrics__wrapper-icon {
    right: 30%;
  }

  .metrics__tooltip-box {
    right: 0%;
  }
}