:root {
  /* Color */
  --color-white: #ffffff;
  --color-accent: #141024;
  --color-accent-opacity-70: rgba(20, 16, 36, 0.7);
  --color-accent-opacity-20: rgba(20, 16, 36, 0.2);
  --color-additional: #d52027;
  /* Container */
  --container-big: 1720px;
  --container-small: 1160px;
  --container-padding-x: 10px;
  /* Font */
  --font-family-base: "Jost", sans-serif;
  /* Border */
  --border: border: 1px solid var(--color-accent-opacity-20);
  --border-radius: 20px;
  /* Hover */
  --transition-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html.is-look {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--color-white);
}

a,
button,
input,
label,
textarea,
svg * {
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08); /* ваш прозрачный фон */
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 10px;
}

.button:active {
  scale: 0.97;
}

.link-button {
  display: inline-flex;
  align-items: center;
  height: 80px;
  padding-inline: 54px;
  background-color: var(--color-additional);
  border: 1px solid var(--color-additional)
}

.link-button:hover {
  color: var(--color-additional);
  background-color: var(--color-white);
}

.link-button:active {
  scale: 0.97;
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container--small {
  max-width: var(--container-small);
}

.container--big {
  max-width: var(--container-big);
}