:root {
  /* Color */
  --color-white: #ffffff;
  --color-accent: #141024;
  --color-accent-opacity-70: rgba(20, 16, 36, 0.7);
  --color-accent-opacity-20: rgba(20, 16, 36, 0.2);
  --color-additional: #d52027;
  /* Container */
  --container-big: 1720px;
  --container-small: 1160px;
  --container-padding-x: 10px;
  /* Font */
  --font-family-base: "Jost", sans-serif;
  /* Border */
  --border: border: 1px solid var(--color-accent-opacity-20);
  --border-radius: 20px;
  /* Hover */
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--color-white);
}

a,
button,
input,
label,
textarea,
svg * {
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container--big {
  max-width: var(--container-big);
}