h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.6;
}

h2, .h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.6;
}

@media (width <= 768px) {
  h1 {
    font-size: 30px;
  }
}